@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import '~antd/dist/antd.css';

body {
  background-color: #ebeef3;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}
.styleoff {
  text-decoration: none;
  color: #000;
}
