.list {
  margin-top: 100px;
}
.item {
  width: 941px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 26px;
  background: #ffffff;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));

  display: flex;
}

.title {
  font-size: 20px;
  line-height: 28px;
  margin-right: 13px;
  color: #1890ff;
}
.item_left {
  width: 75%;
  margin: 0 auto;
}
.item_right {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  margin: 0 auto;
}
.article_title {
  display: flex;
  align-items: center;
  display: block;
  margin-top: 15px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}
.heart_img {
  width: 16px;
  height: 14px;
}
.article_like {
  font-size: 12px;
  line-height: 22px;
}
.item_tag_text {
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 4px;
}
.article_text {
  font-size: 12px;
  line-height: 22px;

  color: rgba(0, 0, 0, 0.75);
}
.item_info_user {
  display: flex;
  margin-top: 15px;
}
.item_info {
  margin-right: 12px;
}
.item_user_name {
  font-size: 18px;
  line-height: 28px;

  display: block;

  color: rgba(0, 0, 0, 0.85);
}
.item_date_post {
  font-size: 12px;
  line-height: 22px;
  display: block;

  color: rgba(0, 0, 0, 0.5);
}
.item_user_logo {
  width: 46px;
  height: 46px;
}
.pagination {
  width: 450px;
  margin: 0 auto;
}
.link_active_item {
  margin: 0;
  width: 250px;
  font-size: 20px;
  line-height: 28px;
  white-space: nowrap;
  word-break: break-all;
  overflow: auto;
  color: #1890ff;
}
.errorSpin {
  background: rgb(245, 244, 244);
  margin-top: 120px;
}
